[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.5"
djangorestframework = "==3.15.2"
djangorestframework-xml = "==2.0.0"
mysqlclient = "==2.2.7"
pylint = "==3.2.7"
asgiref = "==3.8.1"
astroid = "==3.2.4"
certifi = "==2024.12.14"
defusedxml = "==0.7.1"
dill = "==0.3.9"
distlib = "==0.3.9"
filelock = "==3.16.1"
isort = "==5.13.2"
mccabe = "==0.7.0"
pipenv = "==2024.4.0"
platformdirs = "==4.3.6"
setuptools = "==75.8.0"
sqlparse = "==0.5.3"
tomlkit = "==0.13.2"
virtualenv = "==20.29.1"
pytz = "==2024.2"
requests = "==2.32.3"
pylint-django = "==2.6.1"
charset-normalizer = "==3.4.1"
idna = "==3.10"
pylint-plugin-utils = "==0.8.2"
urllib3 = "==2.3.0"

[dev-packages]

[requires]
python_version = "3.12"
