[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "==80.9.0"
asgiref = "==3.8.1"
astroid = "==3.3.10"
certifi = "==2025.6.15"
charset-normalizer = "==3.4.2"
coverage = "==7.9.1"
defusedxml = "==0.7.1"
dill = "==0.4.0"
distlib = "==0.3.9"
django = "==5.2.2"
django-appconf = "==1.1.0"
django-compressor = "==4.5.1"
django-cors-headers = "==4.7.0"
djangorestframework = "==3.16.0"
djangorestframework-xml = "==2.0.0"
filelock = "==3.18.0"
idna = "==3.10"
iniconfig = "==2.1.0"
isort = "==6.0.1"
mccabe = "==0.7.0"
mysqlclient = "==2.2.7"
packaging = "==25.0"
pipenv = "==2025.0.3"
platformdirs = "==4.3.8"
pluggy = "==1.6.0"
pygments = "==2.19.1"
pylint = "==3.3.7"
pylint-django = "==2.6.1"
pylint-plugin-utils = "==0.8.2"
pytest = "==8.4.0"
pytz = "==2025.2"
rcssmin = "==1.1.2"
requests = "==2.32.4"
rjsmin = "==1.2.2"
sqlparse = "==0.5.3"
tomlkit = "==0.13.3"
urllib3 = "==2.4.0"
virtualenv = "==20.31.2"
whitenoise = "==6.9.0"

[dev-packages]

[requires]
python_version = "3.13"
