asgiref==3.9.1
astroid==3.3.11
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
coreschema==0.0.4
coverage==7.10.4
defusedxml==0.7.1
dill==0.4.0
distlib==0.4.0
Django==5.2.2
django-appconf==1.1.0
django-compressor==4.5.1
django-cors-headers==4.7.0
djangorestframework==3.16.1
djangorestframework-xml==2.0.0
drf-spectacular==0.28.0
drf-yasg==1.21.10
filelock==3.19.1
idna==3.10
inflection==0.5.1
iniconfig==2.1.0
isort==6.0.1
itypes==1.2.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
MarkupSafe==3.0.2
mccabe==0.7.0
mysqlclient==2.2.7
packaging==25.0
pipenv==2025.0.4
platformdirs==4.3.8
pluggy==1.6.0
Pygments==2.19.2
pylint==3.3.8
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
pytest==8.4.1
pytz==2025.2
PyYAML==6.0.2
rcssmin==1.1.2
referencing==0.36.2
requests==2.32.4
rjsmin==1.2.2
rpds-py==0.27.0
setuptools==80.9.0
sqlparse==0.5.3
tomlkit==0.13.3
typing_extensions==4.14.1
uritemplate==4.2.0
urllib3==2.5.0
virtualenv==20.34.0
whitenoise==6.9.0
