<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Reservations</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/reservations.js' %}"></script>   
</head>
<body class="bg-light">
    <div class="container pt-4">
        {% include 'navbar.html' %} 
    </div>
    
    <div id="bookings" class="container pt-5 table mt-3 table-sm table_col_padding">
        <h3>All Active Reservations</h3>
        <table>
            <tr> 
                <th>#</th>
                <th>Name</th>
                <th>Booking Date</th>
                <th>Booking time</th>
            </tr>
            {% for item in reservations %}
            <tr> 
                <td>{{ item.id }}</td>
                <td>{{ item.first_name }}</td>
                <td>{{ item.reservation_date|date:'Y-m-d' }}</td>
                <td>{{ item.reservation_slot|time:'H:i:00' }}</td>
            </tr>
            {% endfor %}
        </table>
        <br />
        <button type="button" class="btn btn-primary" onClick="refresh()">Refresh</button>
    </div>
<body>