<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Make a Reservation</title>
</head>
<body class="bg-light">
    
    <div class="container pt-4">
        {% include 'navbar.html' %} 
    </div>

    <div id="bookings" class="container pt-5">
        <h1>Make a Reservation</h1>
        <form method="POST" id="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Reserve</button>
        </form>
    </div>

    <script>
        const form = document.getElementById('form');
        form.addEventListener("submit", submitHandler);
        form.addEventListener("input", dateChangeHandler)

        var bookings_by_date;

        function dateChangeHandler(e) {
            e.preventDefault();
        
            date = document.querySelectorAll('input#id_reservation_date').value;
            let formdata = new FormData(this);
            let booking_date = formdata.get("reservation_date");
            console.log(booking_date)

            if (isValidDate(booking_date)) {
                try {
                    fetch(`/bookings/${booking_date}`)
                      .then(response => response.json())
                      .then(response => {
                        console.log(response);
                        bookings_by_date = response.reservations
                        if (bookings_by_date.length > 0) {
                            var k = '<tbody>'
                            k+= '<tr>';
                            k+= '<th>First Name</td>';
                            k+= '<th>Reservation Date</td>';
                            k+= '<th>Reservation Time</td>';
                            k+= '</tr>';
                            for(i = 0;i < bookings_by_date.length; i++){             
                                k+= '<tr>';
                                k+= '<td>' + bookings_by_date[i]["first_name"] + '</td>';
                                k+= '<td>' + bookings_by_date[i]["reservation_date"] + '</td>';
                                k+= '<td>' + bookings_by_date[i]["reservation_slot"] + '</td>';
                                k+= '</tr>';
                            }
                            k+='</tbody>';
                            document.getElementById('tableData').innerHTML = k;
                        } else {
                            document.getElementById('tableData').innerHTML = '<tbody></tbody>';
                        }
                      });
                  } catch (e) {
                    console.log(e);
                  }
            }
        }

        function isValidDate(date) {
            d = new Date(date);
            return d instanceof Date && !isNaN(d);
          }

        function submitHandler(e) {
            e.preventDefault();

            fetch(form.action, {method:'POST', body: new FormData(form)})
            .then(response=>response.json())
            .then(data=>{
                    alert(data.message);
                    console.log(data.reservations)
                    form.reset();
            });
        }
    </script>

    <div id="bookings" class="container pt-5 table mt-3 table-sm table_col_padding">
        <table>
            <tbody id="tableData"></tbody>
        </table>
    </div>
    
</body>
</html>