<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Make a Reservation</title>
    <script>
        function refresh(){
            window.location.reload("Refresh")
        }
    
    </script>
</head>
<body>
    <div id="bookings" class="container pt-5 table mt-3 table-sm table_col_padding">
        <table>
            <tr> 
                <th>First Name</th>
                <th>Booking Date</th>
                <th>Booking time</th>
        </tr>
            {% for item in reservations %}
        
            <tr> 
                <td>{{ item.first_name }}</td>
                <td>{{ item.reservation_date }}</td>
                <td>{{ item.reservation_slot }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="button" class="btn btn-primary" onClick="refresh()">Refresh</button>
    </div>
<body>