<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Make a Booking</title>
    {% load static %}
    <script src="{% static 'js/reservations.js' %}"></script>   
    <script src="{% static 'js/form.js' %}"></script>
</head>
<body class="bg-light">
    
    <div class="container pt-4">
        {% include 'navbar.html' %} 
    </div>

    <div id="bookings" class="container pt-5">
        <h3>Make a Reservation</h1>
        <form method="POST" id="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Reserve</button>
        </form>
    </div>

    <div id="reservations-by-date" class="container pt-5 table mt-3 table-sm table_col_padding">
        <h3>Bookings by Date</h3>
        <table>
            <tbody id="tableData"></tbody>
        </table>
    </div>
    
</body>
</html>